---
import BaseLayout from '../layout/base-layout.astro';
import Button from '../components/button.vue';

const sections = {
	colors: { id: 'colors', label: 'Colors' },
	colorPalette: { id: 'color-palette', label: 'Color palette', parent: 'colors' },
	colorUsages: { id: 'color-usages', label: 'Color usages', parent: 'colors' },
	typography: { id: 'typography', label: 'Typography' },
	buttons: { id: 'buttons', label: 'Buttons' },
};
---

<style>
	.u-c-space-cadet { background-color: var(--palette-space-cadet); }
	.u-c-space-cadet-light { background-color: var(--palette-space-cadet-light); }
	.u-c-space-cadet-dark { background-color: var(--palette-space-cadet-dark); }
	.u-c-manatee { background-color: var(--palette-manatee); }
	.u-c-manatee-light { background-color: var(--palette-manatee-light); }
	.u-c-manatee-dark { background-color: var(--palette-manatee-dark); }
	.u-c-alice-blue { background-color: var(--palette-alice-blue); }
	.u-c-alice-blue-light { background-color: var(--palette-alice-blue-light); }
	.u-c-alice-blue-dark { background-color: var(--palette-alice-blue-dark); }
	.u-c-corn { background-color: var(--palette-corn); }
	.u-c-corn-light { background-color: var(--palette-corn-light); }
	.u-c-corn-dark { background-color: var(--palette-corn-dark); }
	.u-c-rose-madder { background-color: var(--palette-rose-madder); }
	.u-c-rose-madder-light { background-color: var(--palette-rose-madder-light); }
	.u-c-rose-madder-dark { background-color: var(--palette-rose-madder-dark); }
	.u-c-tangerine { background-color: var(--palette-tangerine); }
	.u-c-tangerine-light { background-color: var(--palette-tangerine-light); }
	.u-c-tangerine-dark { background-color: var(--palette-tangerine-dark); }
	.u-c-dark-spring-green { background-color: var(--palette-dark-spring-green); }
	.u-c-dark-spring-green-light { background-color: var(--palette-dark-spring-green-light); }
	.u-c-dark-spring-green-dark { background-color: var(--palette-dark-spring-green-dark); }
	.u-c-emerald { background-color: var(--palette-emerald); }
	.u-c-emerald-light { background-color: var(--palette-emerald-light); }
	.u-c-emerald-dark { background-color: var(--palette-emerald-dark); }
	.u-c-selective-yellow { background-color: var(--palette-selective-yellow); }
	.u-c-selective-yellow-light { background-color: var(--palette-selective-yellow-light); }
	.u-c-selective-yellow-dark { background-color: var(--palette-selective-yellow-dark); }
	.u-c-light-gray { background-color: var(--palette-light-gray); }
	.u-c-light-gray-light { background-color: var(--palette-light-gray-light); }
	.u-c-light-gray-dark { background-color: var(--palette-light-gray-dark); }
	.u-c-light-grayish-blue { background-color: var(--palette-light-grayish-blue); }

	.u-c-text { background-color: var(--c-text); }
	.u-c-background { background-color: var(--c-background); }
	.u-b-color { background-color: var(--b-color); }
	.u-c-primary-fg { background-color: var(--c-primary-fg); }
	.u-c-primary-bg { background-color: var(--c-primary-bg); }
	.u-c-secondary-fg { background-color: var(--c-secondary-fg); }
	.u-c-secondary-bg { background-color: var(--c-secondary-bg); }
	.u-c-success-fg { background-color: var(--c-success-fg); }
	.u-c-success-bg { background-color: var(--c-success-bg); }
	.u-c-danger-fg { background-color: var(--c-danger-fg); }
	.u-c-danger-bg { background-color: var(--c-danger-bg); }
	.u-c-warning-fg { background-color: var(--c-warning-fg); }
	.u-c-warning-bg { background-color: var(--c-warning-bg); }
	.u-c-info-fg { background-color: var(--c-info-fg); }
	.u-c-info-bg { background-color: var(--c-info-bg); }

	.color-row {
		--color-size: 30px;
		--color-margin: var(--sp-m);
		margin: 0 calc(-1 * var(--color-margin));
		display: flex;
		flex-wrap: wrap;
		align-content: center;
	}
	.color.__wrapper {
		display: flex;
		flex: 1 1 25%;
		align-items: center;
		margin: 0 var(--sp-m) var(--sp-m);
		min-width: 150px;
	}
	.color.__pill-wrapper {
		display: inline-flex;
		flex-direction: row;
		padding: var(--sp-xxs);
		border: var(--b-standard-basic);
		border-radius: 20px;
	}
	.color.__pill {
		width: var(--color-size);
		height: var(--color-size);
	}
	.color.__pill:first-of-type {
		width: calc(var(--color-size) - var(--sp-xxs));
		margin-right: var(--sp-xxs);
		border-top-left-radius: var(--color-size);
		border-bottom-left-radius: var(--color-size);
	}
	.color.__pill:last-of-type {
		width: calc(var(--color-size) - var(--sp-xxs));
		margin-left: var(--sp-xxs);
		border-top-right-radius: var(--color-size);
		border-bottom-right-radius: var(--color-size);
	}
	.color.__pill:first-of-type +	.color.__pill:last-of-type {
		margin-left: 0;
	}
	.color.__dot-wrapper {
		display: inline-block;
		padding: var(--sp-xxs);
		border: var(--b-standard-basic);
		border-radius: 100%;
	}
	.color.__dot {
		width: var(--color-size);
		height: var(--color-size);
		border-radius: 100%;
	}
	.color.__name-wrapper {
		display: flex;
		flex-direction: column;
		padding: 0 var(--sp-m) 0 var(--sp-s)
	}
	.color.__name {}
	.color.__hex {
		font-family: var(--f-mono);
		font-size: var(--f-s-xs);
	}

	.button.__wrapper {
		display: flex;
		flex-wrap: wrap;
		margin: 0 calc(-1 * var(--sp-m));
	}

	.button.__element {
		margin: 0 calc(var(--sp-m) / 2) var(--sp-m);
	}
</style>

<BaseLayout title="Theming">
	<article class="box">
		<h1 class="text __title">Theming</h1>
		<p class="text __subtitle">Color pallet, fonts, sizes and spacings used for this website.</p>

		<h2 id={sections.colors.id} class="text __section">{sections.colors.label}</h2>

		<h3 id={sections.colorPalette.id} class="text __subsection">{sections.colorPalette.label}</h3>
		<section class="color-row">
			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-space-cadet-dark"></div>
					<div class="color __pill u-c-space-cadet"></div>
					<div class="color __pill u-c-space-cadet-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Space cadet</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-manatee-dark"></div>
					<div class="color __pill u-c-manatee"></div>
					<div class="color __pill u-c-manatee-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Manatee</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-alice-blue-dark"></div>
					<div class="color __pill u-c-alice-blue"></div>
					<div class="color __pill u-c-alice-blue-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Alice-blue</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-corn-dark"></div>
					<div class="color __pill u-c-corn"></div>
					<div class="color __pill u-c-corn-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Corn</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-rose-madder-dark"></div>
					<div class="color __pill u-c-rose-madder"></div>
					<div class="color __pill u-c-rose-madder-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Rose madder</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-tangerine-dark"></div>
					<div class="color __pill u-c-tangerine"></div>
					<div class="color __pill u-c-tangerine-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Tangerine</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-dark-spring-green-dark"></div>
					<div class="color __pill u-c-dark-spring-green"></div>
					<div class="color __pill u-c-dark-spring-green-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Dark spring green</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-emerald-dark"></div>
					<div class="color __pill u-c-emerald"></div>
					<div class="color __pill u-c-emerald-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Emerald</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-selective-yellow-dark"></div>
					<div class="color __pill u-c-selective-yellow"></div>
					<div class="color __pill u-c-selective-yellow-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Selective yellow</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __pill-wrapper">
					<div class="color __pill u-c-light-gray-dark"></div>
					<div class="color __pill u-c-light-gray"></div>
					<div class="color __pill u-c-light-gray-light"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Light gray</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __dot-wrapper">
					<div class="color __dot u-c-light-grayish-blue"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Grayish blue</p>
				</div>
			</div>
		</section>

		<h3 id={sections.colorUsages.id} class="text __subsection">{sections.colorUsages.label}</h3>

		<section class="color-row">
			<div class="color __wrapper">
				<div class="color __dot-wrapper"><div class="color __dot u-c-text"></div></div>
				<div class="color __name-wrapper">
					<p class="color __name">Text</p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __dot-wrapper"><div class="color __dot u-c-background"></div></div>
				<div class="color __name-wrapper">
					<p class="color __name">Background</p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __dot-wrapper"><div class="color __dot u-b-color"></div></div>
				<div class="color __name-wrapper">
					<p class="color __name">Borders</p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __dot-wrapper">
					<div class="color __dot u-c-primary-bg"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Primary</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __dot-wrapper">
					<div class="color __dot u-c-secondary-bg"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Secondary</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __dot-wrapper">
					<div class="color __dot u-c-success-bg"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Success</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __dot-wrapper">
					<div class="color __dot u-c-danger-bg"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Danger</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __dot-wrapper">
					<div class="color __dot u-c-warning-bg"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Warning</p>
					<p class="color __hex"></p>
				</div>
			</div>

			<div class="color __wrapper">
				<div class="color __dot-wrapper">
					<div class="color __dot u-c-info-bg"></div>
				</div>
				<div class="color __name-wrapper">
					<p class="color __name">Info</p>
					<p class="color __hex"></p>
				</div>
			</div>
		</section>

		<h2 id={sections.typography.id} class="text __section">{sections.typography.label}</h2>

		<dl class="definition-list __wrapper">
			<dt class="definition-list __key">Title</dt>
			<dd class="definition-list __value"><p class="text __title --no-margin">Title</p></dd>
			<dt class="definition-list __key">Subtitle</dt>
			<dd class="definition-list __value"><p class="text __subtitle --no-margin">Sub title</p></dd>
			<dt class="definition-list __key">Section</dt>
			<dd class="definition-list __value"><p class="text __section --no-margin">Section</p></dd>
			<dt class="definition-list __key">Sub section</dt>
			<dd class="definition-list __value"><p class="text __subsection --no-margin">Sub section</p></dd>
			<dt class="definition-list __key">Paragraph</dt>
			<dd class="definition-list __value"><p class="text --no-margin">Paragraph</p></dd>
		</dl>

		<h2 id={sections.buttons.id} class="text __section">{sections.buttons.label}</h2>

		<section class="button __wrapper">
			<Button primary class="button __element">Primary</Button>
			<Button secondary class="button __element">Secondary</Button>
			<Button success class="button __element">Success</Button>
			<Button danger class="button __element">Danger</Button>
			<Button warning class="button __element">Warning</Button>
			<Button info class="button __element">Info</Button>
		</section>
	</article>
</BaseLayout>