---
import BaseLayout from '../layout/base-layout.astro';

const sections = {
	colors: { id: 'colors', label: 'Colors' },
	colorPalette: { id: 'color-palette', label: 'Color palette', parent: 'colors' },
	colorUsages: { id: 'color-usages', label: 'Color usages', parent: 'colors' },
};
---

<style>
	.u-c-space-cadet { background-color: var(--palette-space-cadet); }
	.u-c-space-cadet-light { background-color: var(--palette-space-cadet-light); }
	.u-c-space-cadet-dark { background-color: var(--palette-space-cadet-dark); }
	.u-c-manatee { background-color: var(--palette-manatee); }
	.u-c-manatee-light { background-color: var(--palette-manatee-light); }
	.u-c-manatee-dark { background-color: var(--palette-manatee-dark); }
	.u-c-alice-blue { background-color: var(--palette-alice-blue); }
	.u-c-alice-blue-light { background-color: var(--palette-alice-blue-light); }
	.u-c-alice-blue-dark { background-color: var(--palette-alice-blue-dark); }
	.u-c-corn { background-color: var(--palette-corn); }
	.u-c-corn-light { background-color: var(--palette-corn-light); }
	.u-c-corn-dark { background-color: var(--palette-corn-dark); }
	.u-c-rose-madder { background-color: var(--palette-rose-madder); }
	.u-c-rose-madder-light { background-color: var(--palette-rose-madder-light); }
	.u-c-rose-madder-dark { background-color: var(--palette-rose-madder-dark); }
	.u-c-tangerine { background-color: var(--palette-tangerine); }
	.u-c-tangerine-light { background-color: var(--palette-tangerine-light); }
	.u-c-tangerine-dark { background-color: var(--palette-tangerine-dark); }
	.u-c-dark-spring-green { background-color: var(--palette-dark-spring-green); }
	.u-c-dark-spring-green-light { background-color: var(--palette-dark-spring-green-light); }
	.u-c-dark-spring-green-dark { background-color: var(--palette-dark-spring-green-dark); }
	.u-c-emerald { background-color: var(--palette-emerald); }
	.u-c-emerald-light { background-color: var(--palette-emerald-light); }
	.u-c-emerald-dark { background-color: var(--palette-emerald-dark); }
	.u-c-selective-yellow { background-color: var(--palette-selective-yellow); }
	.u-c-selective-yellow-light { background-color: var(--palette-selective-yellow-light); }
	.u-c-selective-yellow-dark { background-color: var(--palette-selective-yellow-dark); }
	.u-c-light-gray { background-color: var(--palette-light-gray); }
	.u-c-light-grayish-blue { background-color: var(--palette-light-grayish-blue); }

	.u-c-text { background-color: var(--c-text); }
	.u-c-background { background-color: var(--c-background); }
	.u-b-color { background-color: var(--b-color); }
	.u-c-primary-fg { background-color: var(--c-primary-fg); }
	.u-c-primary-bg { background-color: var(--c-primary-bg); }
	.u-c-secondary-fg { background-color: var(--c-secondary-fg); }
	.u-c-secondary-bg { background-color: var(--c-secondary-bg); }
	.u-c-success-fg { background-color: var(--c-success-fg); }
	.u-c-success-bg { background-color: var(--c-success-bg); }
	.u-c-danger-fg { background-color: var(--c-danger-fg); }
	.u-c-danger-bg { background-color: var(--c-danger-bg); }
	.u-c-warning-fg { background-color: var(--c-warning-fg); }
	.u-c-warning-bg { background-color: var(--c-warning-bg); }
	.u-c-info-fg { background-color: var(--c-info-fg); }
	.u-c-info-bg { background-color: var(--c-info-bg); }

	.section {
		padding: var(--sp-m);
	}

	.color-row {
		--color-size: 30px;
		--color-margin: var(--sp-m);
		margin: 0 calc(-1 * var(--color-margin));
		display: flex;
		flex-wrap: wrap;
		align-content: center;
	}
	.color.--wrapper {
		display: flex;
		flex: 1 1 25%;
		align-items: center;
		margin: var(--sp-m);
		min-width: 150px;
	}
	.color.--pill-wrapper {
		display: inline-flex;
		flex-direction: row;
		padding: var(--sp-xxs);
		border: var(--b-standard-basic);
		border-radius: 20px;
	}
	.color.--pill {
		width: var(--color-size);
		height: var(--color-size);
	}
	.color.--pill:first-of-type {
		width: calc(var(--color-size) - var(--sp-xxs));
		margin-right: var(--sp-xxs);
		border-top-left-radius: var(--color-size);
		border-bottom-left-radius: var(--color-size);
	}
	.color.--pill:last-of-type {
		width: calc(var(--color-size) - var(--sp-xxs));
		margin-left: var(--sp-xxs);
		border-top-right-radius: var(--color-size);
		border-bottom-right-radius: var(--color-size);
	}
	.color.--pill:first-of-type +	.color.--pill:last-of-type {
		margin-left: 0;
	}
	.color.--dot-wrapper {
		display: inline-block;
		padding: var(--sp-xxs);
		border: var(--b-standard-basic);
		border-radius: 100%;
	}
	.color.--dot {
		width: var(--color-size);
		height: var(--color-size);
		border-radius: 100%;
	}
	.color.--name-wrapper {
		display: flex;
		flex-direction: column;
		padding: 0 var(--sp-m) 0 var(--sp-s)
	}
	.color.--name {}
	.color.--hex {
		font-family: var(--f-mono);
		font-size: var(--f-s-xs);
	}
</style>

<BaseLayout title="Theming">
	<header class="section">
		<h1 class="text --title">Theming</h1>
		<p class="text --subtitle">Color pallet, fonts, sizes and spacings used for this website.</p>
	</header>

	<section class="section">
		<h2 id={sections.colors.id} class="text --section">{sections.colors.label}</h2>

		<h3 id={sections.colorPalette.id} class="text subtitle">{sections.colorPalette.label}</h3>
		<div class="color-row">
			<div class="color --wrapper">
				<div class="color --pill-wrapper">
					<div class="color --pill u-c-space-cadet-dark"></div>
					<div class="color --pill u-c-space-cadet"></div>
					<div class="color --pill u-c-space-cadet-light"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Space cadet</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --pill-wrapper">
					<div class="color --pill u-c-manatee-dark"></div>
					<div class="color --pill u-c-manatee"></div>
					<div class="color --pill u-c-manatee-light"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Manatee</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --pill-wrapper">
					<div class="color --pill u-c-alice-blue-dark"></div>
					<div class="color --pill u-c-alice-blue"></div>
					<div class="color --pill u-c-alice-blue-light"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Alice-blue</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --pill-wrapper">
					<div class="color --pill u-c-corn-dark"></div>
					<div class="color --pill u-c-corn"></div>
					<div class="color --pill u-c-corn-light"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Corn</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --pill-wrapper">
					<div class="color --pill u-c-rose-madder-dark"></div>
					<div class="color --pill u-c-rose-madder"></div>
					<div class="color --pill u-c-rose-madder-light"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Rose madder</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --pill-wrapper">
					<div class="color --pill u-c-tangerine-dark"></div>
					<div class="color --pill u-c-tangerine"></div>
					<div class="color --pill u-c-tangerine-light"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Tangerine</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --pill-wrapper">
					<div class="color --pill u-c-dark-spring-green-dark"></div>
					<div class="color --pill u-c-dark-spring-green"></div>
					<div class="color --pill u-c-dark-spring-green-light"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Dark spring green</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --pill-wrapper">
					<div class="color --pill u-c-emerald-dark"></div>
					<div class="color --pill u-c-emerald"></div>
					<div class="color --pill u-c-emerald-light"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Emerald</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --pill-wrapper">
					<div class="color --pill u-c-selective-yellow-dark"></div>
					<div class="color --pill u-c-selective-yellow"></div>
					<div class="color --pill u-c-selective-yellow-light"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Selective yellow</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper">
					<div class="color --dot u-c-light-gray"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Light gray</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper">
					<div class="color --dot u-c-light-grayish-blue"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Grayish blue</p>
				</div>
			</div>
		</div>

		<h3 id={sections.colorUsages.id} class="text subtitle">{sections.colorUsages.label}</h3>

		<div class="color-row">
			<div class="color --wrapper">
				<div class="color --dot-wrapper"><div class="color --dot u-c-text"></div></div>
				<div class="color --name-wrapper">
					<p class="color --name">Text</p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper"><div class="color --dot u-c-background"></div></div>
				<div class="color --name-wrapper">
					<p class="color --name">Background</p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper"><div class="color --dot u-b-color"></div></div>
				<div class="color --name-wrapper">
					<p class="color --name">Borders</p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper">
					<div class="color --dot u-c-primary-bg"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Primary</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper">
					<div class="color --dot u-c-secondary-bg"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Secondary</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper">
					<div class="color --dot u-c-success-bg"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Success</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper">
					<div class="color --dot u-c-danger-bg"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Danger</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper">
					<div class="color --dot u-c-warning-bg"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Warning</p>
					<p class="color --hex"></p>
				</div>
			</div>

			<div class="color --wrapper">
				<div class="color --dot-wrapper">
					<div class="color --dot u-c-info-bg"></div>
				</div>
				<div class="color --name-wrapper">
					<p class="color --name">Info</p>
					<p class="color --hex"></p>
				</div>
			</div>
		</div>
	</section>
</BaseLayout>